
<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <h4>{{title}}</h4>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <button type="button" class="button hollow topbar-responsive-button">Categories</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="subnav-hero-section">
  <img class="profile-pic" src="assets/profile-pic.JPG" alt="profile-image"/>
  <div class="subnav-hero-container">
    <h1 class="subnav-hero-headline">{{title}}</h1>
    <h3>Software Developer</h3>
    <div class="social-icons">
      <a href="https://github.com/fpenim"><img src="assets/github.png"/></a>
      <a href="https://www.linkedin.com/in/flaviapenim/"><img src="assets/linkdIn.png"/></a>
      <a href="https://twitter.com/flaviapenim"><img src="assets/twitter.png"/></a>
    </div>
  </div>
</header>
